<div class="w-full h-screen flex items-center justify-center bg-gray-100 ">
  
  <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> User Information </h5>
      <% if user_signed_in? %>
        <h5 class="mb-2 text-sm font-bold tracking-tight text-gray-900 dark:text-white"> <%= current_user.name %></h5>
        <p class="text-white"><%= current_user.email %></p>
        <p class="text-white"><%= current_user.user_role %></p>
      <%end%>
      <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Read more
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
      </a>
  </div>
  <div class="max-w-sm ml-15 p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
      <h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> Chatting Type </h1>
      
      <%= form_with url: create_private_chat_chat_rooms_path, method: :post do |f| %>
      <div class="flex">
        <div class="flex items-center mb-4">
          <%= radio_button_tag :chat_type, "private", true, id: "private_chat_radio",class: "h-4 w-4 text-white focus:ring-blue-500 border-gray-300 rounded" %>
          <%= label_tag :chat_type_private, "Private Chat", class: "ml-2 block text-white cursor-pointer" %>
        </div>
        <div class="flex ml-5 items-center mb-4">
          <%= radio_button_tag :chat_type, "group", false, id: "group_chat_radio", class: "h-4 w-4 text-white focus:ring-blue-500 border-gray-300 rounded" %>
          <%= label_tag :chat_type_group, "Group Chat", class: "ml-2 block text-white cursor-pointer" %>
        </div>
      </div>
        

        <div id="private_chat_user_list" class="mt-4 text-white">
          <%= label_tag :user_id, "Select Member to Chat:" %><br>
          <%= select_tag :user_id, options_from_collection_for_select(@users, :id, :name), prompt: "Choose a user", required: true,class: " w-full text-orange-500 p-2 border border-gray-300 rounded-md shadow-sm  focus:ring-2 focus:ring-blue-500 focus:border-blue-500" %>
        </div>

        <div class=" flex mt-4 items-center justify-center">
          <%= submit_tag "Start Chatting", class: "bg-blue-500 text-white px-4 py-2 rounded hover:cursor-pointer " %>
        </div>
      <% end %>
  </div>

</div>
